.box {
  background-color: aqua;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  height: 300px;
  max-height: 200vh;
  /* -webkit-box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);  */
  box-shadow: 0px 2px 20px rgba(0,0,0,0.3);
  display:grid;
  justify-content:center;
  cursor: pointer;
  /* margin: 3px; */
  /* margin-bottom: 35px; */
  transition: transform 1.5s ease-in-out;
}

.box:hover{
  transform: scale(1.05)

}
.grid {
  height: 150%;
  /* max-height: 200%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgba(192, 197, 197, 0.511);
  margin: 50px;
}

.grid > div{
  flex-basis: calc(50% -50px);
}

.cardBody {
  text-align: justify;

}