* {
  box-sizing: border-box;
}

body{
  background-image: url('https://images.alphacoders.com/441/441002.jpg');

}
/* .add_edit_movie{
  background-color: rgba(192, 197, 197, 0.712);
} */

.add_movie_title{
  text-align: center;
  font-family:'Holtwood One SC';
  color: antiquewhite;
  text-shadow: 80%;
  text-shadow: 30px;
  background-color: black;
}
.edit_movie_title{
  text-align: center;
  font-family:'Holtwood One SC';
  color: antiquewhite;
  text-shadow: 80%;
  text-shadow: 30px;
  background-color: black;
}
.movie_form_input, .genre_form_input{
  width: 100px;
}

.add_movie_form, .edit_movie_form{
    background-color: rgba(192, 197, 197, 0.79);
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-align: center; 
    font-family: 'Roboto Slab';
    font-weight: 500;
}

.label{
  padding-right: 1rem;
}

.home{
  background-color:rgba(55, 79, 81, 0.625);
  padding:10%;
  margin-top: 10%;
  text-align: center;
}

.title{
  font-family:'Holtwood One SC';
  font-weight: 500;
  font-size: 700%;
  color:aliceblue;
  text-decoration-color: black;
  text-shadow: 90%;
}

.nav {
  background-color:rgb(31, 45, 46);
  color: aliceblue;
  display:flex;
  justify-content:space-around;
  font-family:'Shrikhand';
  font-size: 100%;
  font-weight: 50;
  padding-top: 5px;
}

.nav ul{
  list-style: none;
  display: flex;
  text-align: center;
  padding: .70rem;
}

.nav a{
  color: inherit;
  text-decoration:none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .30rem;
}

.nav a:hover{
  background-color:rgba(55, 79, 81, 0.728);
  color:rgb(130, 228, 228);
}

.movie_list_cards{
  padding: 10px;
}

.active{
  /* background-color:rgba(55, 79, 81, 0.728); */
  color:rgb(130, 228, 228);
}


.movie_list_title{
  text-align: center;
  font-family:'Holtwood One SC';
  color: antiquewhite;
  text-shadow: 80%;
  text-shadow: 30px;
  background-color: black;
}

.add_genre_title{
  text-align: center;
  font-family:'Holtwood One SC';
  color: antiquewhite;
  text-shadow: 80%;
  text-shadow: 30px;
  background-color: black;
  margin-bottom: 50px;
}

.add_genre_form{
  text-align: center;
  background-color: rgba(192, 197, 197, 0.79);
  align-self: center;
  text-align: center;
  font-family: 'Roboto Slab';
  font-weight: 500;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.genre_list{
  background-color: rgba(192, 197, 197, 0.79);
  text-align: justify;
  margin-left: 50px;
  margin-right: 80px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto Slab';
  font-weight: 500;
}
.genre_list_title{
  text-align: center;
  font-family:'Holtwood One SC';
  color: antiquewhite;
  text-shadow: 80%;
  text-shadow: 30px;
  background-color: black;
  margin-bottom: 50px;
}
.genre_title{
  font-family: 'Lora';
  font-weight: 600;
  font-style: italic;
  font-size: 250%;

}

.home_about{
  font-family: 'Roboto Slab';
  color: rgb(243, 239, 234);
  margin-left: 30%;
  margin-right: 30%;
}

.genre_desc{
  list-style-type: square;
  font-size: 110%;
  padding-bottom: 10px;
}

